# to generate your own values for these, run:
#  echo -n "my_dataset" | base64
#  echo -n "my_writekey" | base64
#
# and fill in the values below
#
apiVersion: v1
kind: Secret
metadata:
  name: otel-collector-secrets
  namespace: default
type: Opaque
data:
  honeycomb_dataset: change_me
  honeycomb_write_key: change_me_too
